body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30vh auto;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1{
    margin-bottom: 2rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container input{
    width: 15rem;
    height: 3rem;
    padding: 0 1rem;
    border-radius: 5px;
}

.wrong{
    border-color: red;
    outline: none;
}

.sucess{
    border-color: green;
    outline: none; 
}

.container .mensagem{
    margin-top: 5px;
}


.container button{
    line-height: 2rem;
    padding: 0 3.8rem;
    font-size: 16px;
    background-color: rgb(1, 21, 44);
    color: white;
    border: none;
    
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color .3s;
}

.container button:hover{
    background-color: transparent;
    color: rgb(1, 21, 44);
    border: 1px solid rgb(16, 127, 255);
}